<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Mon meilleur plat</mat-card-title>
    <mat-card-subtitle>Succulent</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="food" alt="mima-miam">
  <mat-card-content>
    <p>
      Fruits sur canapé , la chaleur de la couleur sur un lit de chocolat.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>

